*{
    padding: 0;
    margin: 0;
    border: 0;  
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* ----Щріфти---- */


@font-face {
    font-family: "Monserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

/* ----Тіло---- */


body{
    font-family: "Monserrat";
    padding: 30px;
    font-size: 18px;
}

[class*="-contener"]{
    max-width: 1230px;
    margin: 0 auto;
}


h1{
    color: black;
    font-family: "Roboto";
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
}

.img-contener{
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.page-text{
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 25px;
}

.page-text-2{
    line-height: 160%;
    margin-bottom: 48px;
    color: grey;
}

.page-text-2 p{
    margin-bottom: 22px;
}

.page-text-3{
    font-family: "Roboto";
    font-size: 25px;
    line-height: 150%;
    margin-bottom: 45px;
    color: black;

    background: url('../img/braces.svg') 0 0 no-repeat;
    padding-left: 50px;
} 

.page-text ul{
    margin-bottom: 24px;
}

.page-text li{
    margin-bottom: 40px;
    padding-left: 35px;
    line-height: 150%;

    background: url('../img/check.svg') 0 6px no-repeat;
}

/* ----home work----- */

.block{
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    background: rgb(24,181,164);
    margin-bottom: 60px;
    border: 2px solid black;
    }

 .block-1{
    background: url("img/h1.jpg") 0 0;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
}

    .block-2{
    background: url("img/bg.jpg") 0 0 no-repeat;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
    }

.block-3{
    background: url("img/bg_repeat.jpg") 0 0;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
}

.block-4{ 
    background: url("img/image.jpg") 0 0 / auto no-repeat;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
}

.block-5{
    background: url("img/like.png") 0 0 no-repeat fixed;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
}

.block-6{ 
    background: url("img/like.png") right/50px no-repeat, url("img/bg.jpg") left/50px 
    no-repeat, url("img/bg.jpg") 50%/cover no-repeat;
    border-radius: 25px;
    padding: 30px;
    max-width: 800px;
    height: 800px;
    margin-bottom: 60px;
    border: 2px solid black;
}

.block-7{
        background: rgb(236,132,157);
        background: -moz-linear-gradient(top, rgba(236,232,157,1) 0%, rgba(94,83,115,1) 50%, rgba(24,18,114,1) 100%);
        background: -webkit-linear-gradient(top, rgba(236,32,157,1) 0%,rgba(94,83,115,1) 50%,rgba(24,81,134,1) 100%);
        background: linear-gradient(to bottom, rgba(236,32,157,1) 0%,rgba(94,183,115,1) 50%,rgba(24,81,164,1) 100%);


        border-radius: 25px;
        padding: 30px;
        max-width: 800px;
        height: 800px;
        margin-bottom: 60px;
        border: 2px solid black;
}   